@model AnnisaCake.Web.Models.ViewModel.pelanggan

@{
    ViewBag.Title = "Regis";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form">
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        @Html.EditorFor(model => model.nama_pelanggan, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Name" } })
                    </div>

                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email" } })
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        @Html.EditorFor(model => model.no_hp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nomor Hp" } })
                    </div>
                    <h1>Alamat</h1>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.provinsi, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provinsi" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.kab, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kabupaten/Kota" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.kec, new { htmlAttributes = new { @class = "form-control", @placeholder = "Kecamatan" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.desa, new { htmlAttributes = new { @class = "form-control", @placeholder = "Desa" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.rt, new { htmlAttributes = new { @class = "form-control", @placeholder = "RT" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.rw, new { htmlAttributes = new { @class = "form-control", @placeholder = "RW" } })
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.alamat, new { htmlAttributes = new { @class = "form-control", @placeholder = "Detail Alamat",@type="textarea" } })
                    </div>
                    <h1>Password</h1>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        @Html.EditorFor(model => model.sandi, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        @Html.EditorFor(model => model.sandi_confirm, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password comfirm" } })
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="/Content/Pelanggan/images/signup-image.jpg" alt="sing up image"></figure>
                <a href="/Pelanggan/Login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>

<!-- Sing in  Form -->
