@model IEnumerable<AnnisaCake.Web.Models.SP_GetAllKue_Result>

@{
    ViewBag.Title = "Kue";
}

<!-- Bootstrap -->
<link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/Content/build/css/custom.min.css" rel="stylesheet">
<style>
    .action {
        width:30%
    }


</style>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @Html.ActionLink("Create New", "CreateKue")
                </h2>

            </div>
            @Html.Hidden("item-to-delete", "", new { @id = "item-to-delete" })
            <div class="body">
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.gambar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nama_kategori)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nama_kue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.harga)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.stok)
                                </th>
                                <th> Aksi</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/Content/picCake/@item.id_gambar" width="100" height="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nama_kategori)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nama_kue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.harga)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.stok)
                                    </td>
                                    <td class="col-lg-2">
                                        <center>
                                            @Html.ActionLink("Edit", "EditKue", new { id = item.id }, new { @class = "btn btn-primary action " })
                                            @*@Html.ActionLink("Detail", "DetailsKue", new { id = item.id }, new { @class = "btn btn-primary action " })*@
                                            <button type="button" class="delete_kue btn btn-danger action" onclick="showPopUp(this)" value="@item.id">Delete</button>
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {


    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Content/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Content/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  


    <script>
        function showPopUp(e) {
            var id = e.value;
            $('#item-to-delete').val(id);
            $('.bs-example-modal-sm').modal('show');
        }

    $('#btnContinueDelete').click(function() {
        var id = $('#item-to-delete').val();
         $.ajax({
            type: "POST",
            url: '@Url.Action("Delete")',
            data: JSON.stringify({ id: id }), //use id here
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                alert("Data has been deleted.");
                $('.bs-example-modal-sm').modal('hide');
                location.reload();
            },
             error: function () {
                 $('.bs-example-modal-sm').modal('hide');
                alert("Error while deleting data");
             }
            

            });
    });
    </script>
}

<!-- Small modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Deleted Data </h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you cure for deleted data ?
                </p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger col-lg-3" id="btnContinueDelete"> Delete</button>
                <button type="button" class="btn btn-primary col-lg-3 fc-corner-left" style="float: right;" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- /modals -->
