@model IEnumerable<AnnisaCake.Web.Models.toping>

@{
    ViewBag.Title = "Toping_Kue";
}

<h2>Toping_Kue</h2>

<p>
    @Html.ActionLink("Create New", "CreateToping")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jenis_toping)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jenis_toping)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditToping", new { id = item.kode_toping }) |
            @Html.ActionLink("Details", "Details", new { id=item.kode_toping }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kode_toping })
        </td>
    </tr>
}

</table>
