@model AnnisaCake.Web.Models.bahan_baku_Masuk

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>bahan_baku_Masuk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tgl_pembelian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tgl_pembelian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bahan_baku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bahan_baku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jumlah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jumlah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.satuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.satuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.harga)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
